from remarque import User, Note

User.create_table(fail_silently=True)
Note.create_table(fail_silently=True)

admin2 = User(username='', email="", admin=True, active=True)
admin2.set_password("")
admin2.save()